@charset "UTF-8";
*{margin:0;padding:0;box-sizing:border-box}
#container{position:absolute;left:0;top:0;width:970px;height:90px;overflow:hidden;background:#001358}
#container>div{position:absolute}
#stage{left:0;top:0;width:970px;height:90px}
#art{display:block;width:970px;height:90px;will-change:transform}
#intro{left:0;top:0;width:970px;height:90px;background:#fff;z-index:40}
#clicktag{left:0;top:0;width:970px;height:90px;cursor:pointer;z-index:55}
