@charset "UTF-8";
*{margin:0;padding:0;box-sizing:border-box}
#container{position:absolute;left:0;top:0;width:728px;height:90px;overflow:hidden;background:#001358}
#bg{left:0;top:0;width:728px;height:90px;overflow:hidden;z-index:0}
.bgL{position:absolute;display:block}
#container>div{position:absolute}
#photoC{left:0;top:0;width:728px;height:90px;overflow:hidden;z-index:1}
#photo{position:absolute;left:0px;top:0px;width:143px;height:90px;display:block}
#content{left:0;top:0;width:100%;height:100%;z-index:3}
#content>div{position:absolute}
#headline{left:0;top:0;width:100%;height:100%}
#headArt{will-change:transform,opacity}
#ctaC{left:567px;top:28px;width:108px;height:30px;border-radius:4px;overflow:hidden}
#cta{position:relative;width:108px;height:30px;border-radius:4px;background:#cf2a36}
#intro{left:0;top:0;width:728px;height:90px;background:#fff;z-index:40}
#border{left:0;top:0;width:726px;height:88px;border:1px solid #000;z-index:50}
#clicktag{left:0;top:0;width:728px;height:90px;cursor:pointer;z-index:55}
#preload{left:0;top:0;width:728px;height:90px;background:#fff;z-index:60;visibility:hidden}
#preload_svg{position:absolute;left:50%;top:50%;width:40px;height:40px;transform:translate(-50%,-50%);opacity:0}

#photoC{clip-path:polygon(0 0,137px 0,106px 100%,0 100%)}

